<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <link th:href="@{/public/bootstrap.min.css}" rel="stylesheet">

</head>


<body>

    <div th:replace="fragments/header :: header"></div>

    <div id="container">
        <h2>Login page</h2>
        <form action="#" th:action="@{/resetPassword}" th:object="${resetForm}" method="post">
            <p>Received Password: <input type="text" th:field="*{generatedPassword}" /></p>
            <p>New Password: <input type="password" th:field="*{newPassword}" /></p>
            <p>Confirm New Password: <input type="password" th:field="*{confirmNewPassword}" /></p>
            <p><input type="submit" value="Submit" />
        </form>
</body>

</html>